html{
    background-position: center;
    background-color: lightgray;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    border-top: 8px double black;
    width: 80%;             
    align-content: center;
}

h1{
    text-align: center;
    color: rgb(51, 50, 50);
    font-size: 310%;
}

h2{
    text-align: center;
    color: black;
    font-size: 230%;
}

h3{
    text-align: center;
    color: black;
    font-size: 190%;
}

h4{
    text-align: center;
    color: black;
    font-size: 62%;
}

h5{
    margin: 5.5%;
    text-align: justify;
    color: black;
    font-size: 130%;
}

div{
    text-align: center;
    font-size: 120%;
}
